{% extends 'base.html.twig' %}

{% block body %}
{% include 'modules/social-buttons.html.twig' %}
    
    <div class="content">
        <div class="image-grid">

{% for artwork in artworks %}
            <div class="image-wrapper {{ artwork.gridsize }}">
                <a href="/artwork/{{ artwork.slug }}">
            <img src="{{ asset('/art/' ~ artwork.image ) | imagine_filter('medium') }}" srcset="{{ asset('/art/' ~ artwork.image ) | imagine_filter('small') }} 600w,{{ asset('/art/' ~ artwork.image ) | imagine_filter('medium') }} 1000w"/>
                    <div class="image-caption">{{ artwork.title }}</div>
                </a>
            </div>
{% endfor %}
        
        </div>

    </div>



{% endblock %}