  {% extends 'base.html.twig' %}

 {% block body %}
        <div class="image-single-caption">
            {{ artwork.title }}<br>
            {{ artwork.series }} / {{ artwork.year }}<br>
            {{ artwork.description }}
        </div>

    <div class="content">
        <div class="image-single">
  
            <div class="image-single-wrapper">
                <img src="/art/{{ artwork.image }}">
            </div>
   </div>
   </div>
     
 {% endblock %}